@import "bootstrap";

body {
	padding-top: 20px;
}

.navbar-header {
	display: inline;
	background-color: #02a6e8;
}


ul a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #02a6e8;
}

ul a:hover {
	background-color: #0388bc;
}

.navbar-brand {
	font-size: 1.2em;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}