.vlogTileContainer {
	column-count: 3;
	column-gap: 1em;
}

.vlogTiles {
	background-color: rgba(242, 242, 242, 0.7);
	display: inline-block;
	margin: 0 0 1em;
	width: 100%;
	box-shadow: 2px 2px 4px 0;
	border-radius: 5px;
	list-style-type: none;
	text-align: center;
	vertical-align: middle;
}

.vlogTiles:hover {
	background-color: rgba(242, 242, 242, 0.9);
}

.vlogTilesContent {
	margin: 3px;
	padding: 5px;
}
.vlogTitle {
	font-size: 20px;
	margin: 2px 2px 2px 0;
	color: black;
}

.vlogDescription {
	font-size:12px;
	width: 350px;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	margin: auto;
	color: red;
}

.vlogPublished {
	font-size: 10px;
}

.vlogImage {
	padding: 2px 2px 2px 0;
}

@media only screen and (max-width: 400px) {
	.vlogTileContainer {
		column-count: 2;
		column-gap: 1em;
	}
}

