<div class="jumbotron text-center">
	<h2 id="title">About</h2>

	<br/><br/>

	<p>Content is shot in and around the denver area.  Please feel free to check out our FB community, and YouTube channel.</p>
	<br/><br/>
	<p>As always like and subscribe to suppor the channel</p>

	<br/><br/>
</div>