<hr>
        <div class="text-center center-block">
            <p class="txt-railway">- Follow us on social media -</p>
                <a href="https://www.facebook.com/frolloden/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://www.youtube.com/channel/UCv5DBirtU8jhUWMh2H2V2mw"><i id="social-yt" class="fa fa-youtube-square fa-3x social"></i></a>
</div>